* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --color-1: #1f1e21;
    --color-2: #3a525f;
    --color-3: #8399a5;
    --color-4: #b3bec3;
    --color-5: #fec155;
    --color-6: #ffd375;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-3);
}