.competition-group {
    position: relative;
}

.competition-activity {
    margin: 15px 0 0 0 !important;
    border-left: 1px solid #eee;
    padding-right: 30px;
    box-sizing: border-box;
    height: 50px;
    transition: 0.2s;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

.competition-selected  {
    box-shadow: 3px 3px 2px 0px #666;
}

.activity-link {
    opacity: 0 !important;
    width: 30px !important;
    padding: 0 !important;
    position: absolute;
    right: 0;
}

.competition-selected .activity-link {
    opacity: 1 !important;
}

@media screen and (min-width: 900px) {
    .contest-name {
        font-size: 20px;
    }
    #competition-details > div {
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) {
    .contest-name {
        font-size: 2.5vw;
    }
    #competition-details > div {
        font-size: 2vw;
    }
}


.cp-content-tab {
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
}

.cp-profile-card {
    height: 30vh;
    width: 45%;
    box-sizing: content-box;
    margin: 5px;
    border: 2px solid #000;
    background-color: #000;
    border-radius: 10px;
    transition: 0.3s;
}

.cp-profile-card img {
    transition: 0.3s;
    width: 20vmin;
}

.cp-profile-card:hover {
    transform: translate(-5px, -5px);
    box-shadow: 3px 3px 8px 2px #666;
}

.custom-tab .nav-link {
    color: #fff !important;
}

.custom-tab .active {
    color: #000 !important;
}