html, body, #root {
    width: 100%;
    height: 100%;
    background-color: #000;
}

:root * {
    font-family: 'Courier New', Courier, monospace;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #fff;
}
