#footer {
    width: 100%;
}

#contact-details {
    width: 100%;
    height: 100px;
    border-top: 1px outset #555;
}

.contact-button:hover {
    border: 1px solid #fff;
}

.contact-button:active {
    background-color: #fff;
}

.contact-button:focus {
    outline: 0;
    box-shadow: none!important;
}
