#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#contact-details {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: #000;
    left: 0;
    bottom: -100px;
    transition: 0.3s ease-in-out;
}

#footer-trigger {
    position: absolute;
    width: 40vh;
    height: 9vh;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#footer-trigger:hover + #contact-details, #contact-details:hover {
    transform: translate(0, -100%);
}

.contact-button:hover {
    border: 1px solid #fff;
}

.contact-button:active {
    background-color: #fff;
}

.contact-button:focus {
    outline: 0;
    box-shadow: none!important;
}
