.project-card {
    margin: 30px 0;
    height: 50vh;
    position: relative;
    transition: 0.5s ease;
}

.project-card-background {
    height: 40vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    transition: 0.5s ease;
    border-radius: 5px;
}

.project-card-background::before {
    content: '';
    position: absolute;
    background-color: #000;
    border-radius: 5px;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.project-name, .project-description {
    color: #fff;
    transition: 0.5s;
}

.project-name {
    text-align: center;
    font-weight: 500;
    font-size: 4vw;
}
.project-description {
    font-size: 1.5vw;
    text-align: center;
    overflow: hidden;
    max-width: 80%;
}

.project-links {
    position: absolute;
    top: 0;
    border-radius: 5px;
    height: 50vh;
    width: 100%;
    transition: 0.5s ease;
    background-color: #000;
    opacity: 0;
}

.project-links > div {
    position: absolute;
    bottom: 5vh;
    transform: translateY(50%);
}

.project-links > div > * {
    filter: brightness(100%);
}

.project-links > div > *:hover {
    filter: brightness(80%);
}

.project-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.project-card:hover .project-links {
    opacity: 1;
}

.project-card:hover .project-card-background {
    filter: grayscale(0%);
}